@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

* {
    margin: 0;
    padding: 0;
}

.header {
    background: #1A0B2E;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12.5%;
    padding-block: 30px;
    border-bottom: #412567 1px solid;
}

.nav-items {
    display: flex;
    gap: 32px;
    
}
.nav-items li {
    list-style: none;
}
.nav-items a {
    color: white;
    text-decoration: none;
    font-weight: 500;


}

.nav-items a:hover {
    color: #F7E93F;
}

.hamburg {
    display: none;
}

.btn-primary {
    
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    color: white;
    border-radius: 10000px;
    border: none;
    padding: 12.5px 20px;
    font-weight: 600;
}
.btn-primary:hover {
    background: linear-gradient(48deg, #F7E93F 16.53%, #FB09B4 49.82%, #9100F8 81.65%);
    opacity: 0.8;
    cursor: pointer;
}



/* hero section */

.hero {
    background: url(../assets/hero-bg.png);
    background-color: 1A0B2E;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
  
}

.fixed-hw {
    max-width: 550px;
    max-height: 558px;
    margin: 0 auto;
    padding: 13.28% 0;
    text-align: center;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 350px;
    /* border: 1px solid red; */
}

.circle {
  display: block;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fixed-hw h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-top: 40px;
}
.fixed-hw p {
    margin-top: 8px;
    margin-bottom: 24px;
}

.btn-secondary {
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10000px ;
    padding: 12.5px 20px;
    font-weight: 600;
    margin-left: 10px;
}


.btn-secondary:hover {
    opacity: 0.8;
    cursor: pointer;
}




@media screen and (max-width: 576px) {
    .nav-items {
        display: none;
    }
    .navbar button {
        display: none;
    }
    .hamburg {
        display: block;

    }
    .navbar {
        padding-inline: 4.5%;
    }
    .hero {
        margin: auto;
        background-position: top;
    }

    .img-wrap {
      
        max-width: 200px;
    }
    .circle {
        width: 90%;
    }
    .microphone {
        width: 25%;
    }

}